%section#articleheader
  %h2= @article.title
  .byline
    written by #{link_to @article.user.fullname, ""}
  .avatar
    = image_tag gravatar(@article.user.email, 64)
  %h3= @article.teaser
%section#articlebody.textile
  = @article.body
  -# comments are available for published articles only
  - if @article.state > 2
    %section#comments
      - @comments.each do |comment|
        %article.comment
          .avatar= image_tag gravatar(comment.user.email, 48)
          .commentbody
            .commenthead
              = comment.user.fullname
              \- #{time_ago_in_words(comment.created_at)} ago
        -# display delete link only for comments written by this particular user
        - if user_signed_in? and comment.user_id == current_user.id
          %span= link_to 'delete', article_comment_path(@article, comment), :confirm => 'Are you sure?', :method => :delete, :class => ""
        %div= comment.body
    -# add a new comment
    %article.comment.newcomment
      - if user_signed_in?
        .avatar= image_tag gravatar(current_user.email, 48)
        .commentbody
          - if current_user.fullname == nil or current_user.fullname == ''
            .commenthead
              Please complete your #{link_to "profile", edit_user_registration_path} before posting comments.
          - else
            .commenthead
              = current_user.fullname
            %div
              = form_for [@article, current_user.comments.new] do |f|
                = f.text_area :body, :size => "100%x20", :class => "fullwidth"
                = f.submit "Add Comment", :class => "awesome custom red"
      - else
        .signin
          Please #{link_to "sign in", new_user_session_path} before posting a comment.
