= form_for resource, :as => resource_name,
  :url => password_path(resource_name),
  :html => { :method => :put, :class => "form-horizontal" } do |f|
  = f.hidden_field :reset_password_token
  %fieldset
    %legend Change your password
    = devise_error_messages!
    .control-group
      = f.label :password, "New password", :class => "control-label"
      .controls
        = f.password_field :password
    .control-group
      = f.label :password_confirmation, "Confirm new password", :class => "control-label"
      .controls
        = f.password_field :password_confirmation
    .form-actions
      = f.submit "Change my password", :class => "btn btn-primary"
      = link_to "Cancel", :back, :class => "btn"
= render :partial => "devise/shared/links"
