!!!
%html
  %head
    %title IBlog
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header#page_header
      %nav#nav_user
        %ul
          - if user_signed_in?
            %li
              %span#currentuser= current_user.email
            \ 
            %li= link_to "My Profile", edit_user_registration_path
            %li= link_to "Sign out", destroy_user_session_path
          - else
            %li= link_to "Sign up", new_user_registration_path
            %li= link_to "Sign in", new_user_session_path
      #page_title
        %h1 iBlog
        %h2 write yours before too late
    %section#flash
      - flash.each do |key, value|
        %div{:class => "flash #{key}"}= value
    = yield
